*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
width: 100vh;
background-color: black;
}

header{
  width: 100vh;
  height: 70px;
  background-color: darkgrey;
}

header img{
  height: 50px;
  margin-top: 10px;
  margin-left: 20px;
}

.cds-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
}

.cd{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-basis: 200px;
  padding: 20px;
  margin10px 20px;
  height: 360px;
  background-color: rgb(46, 58, 70);
  text-align: center;
}
.cd img{
  max-width: 100%;
}
